<div class="jumbotron">
  <h1 class="display-4">Mongoose News Scraper!</h1>
  <p class="lead">This app will scrape news articles and display them below!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Saved Articles</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Scrape Articles</a>
</div>