<div class="jumbotron jumbo">
    <h1 class="display-4">Mongoose News Scraper!</h1>
    <p class="lead">This app will scrape news articles and display them below!</p>
    <hr class="my-4">
    <button type="button" class="btn btn-dark btn-lg">
        <a href="/" role="button" class="articleLink" id="allButton">All Articles</a>
    </button>

</div>

<div class="container articles">

    {{#each article}}
    <div class="articleDiv">
        <h3>{{this.title}}</h3>
        <button type="button" class="btn btn-secondary">
            <a class="articleLink" href="{{this.link}}">See Article Here</a>
        </button>

        <button type="button" class="removeButton btn btn-secondary" data-id="{{this._id}}">Remove Article</button>
        <button type="button" class="commentButton btn btn-secondary" data-id="{{this._id}}">Comment</button>
    </div>
    {{/each}}
</div>