<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Mongoose News Scraper!</h1>
        <p class="lead">This app will scrape news articles and display them below!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/" role="button" id="allButton">All Articles</a>
    </div>
    {{#each article}}
    <div>
        <h3>{{this.title}}</h3>
        <a href="{{this.link}}">See Article Here</a>
        <button class="removeButton" data-id="{{this._id}}">Remove Article</button>
        <button class="commentButton" data-id="{{this._id}}">Comment</button>
    </div>
    {{/each}}
</div>