body {
    background-image: url("../images/newspaper.jpg");
}

#scrapeButton {
    color: white;
}

.jumbo {
    background-color: white !important;
    opacity: 0.9;
    text-align: center;

}

.articleLink {
    color: white;
}

.articleLink:hover {
    color: white;
    text-decoration: none;
}

.articleDiv {
    padding: 20px;
    text-align: center;
}

.articles {
    background-color: white;
    padding: 50px;
    opacity: 0.8;
}